name: Bandit Security Scan
 
on:
  push:
  pull_request:
  workflow_dispatch:
 
jobs:
  bandit:
    runs-on: ubuntu-latest
 
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4
 
      - name: Run Bandit Security Scan
        uses: shundor/python-bandit-scan@v1.0
        with:
          path: "."
          level: high
          confidence: high
          exit_zero: true