name: Bandit Security Scan

on:
  push:
  pull_request:

jobs:
  bandit:
    runs-on: ubuntu-latest
    name: Bandit Security Scan
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Bandit Scan
        uses: shundor/bandit-action@v1
        with:
          path: "."
          level: high
          confidence: high
          exit_zero: true